<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="UTF-8">
     <% if (htmlWebpackPlugin.options.trackJSToken) { %>
     <!-- BEGIN TRACKJS -->
            <script type="text/javascript">window._trackJs = {token: <%= htmlWebpackPlugin.options.trackJSToken%>};</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
<!-- END TRACKJS -->
  <% } %>
   </head>
   <body>
     <h1>User</h1>
     <table>
       <thead>
         <th>&nbsp;</th>
         <th>ID</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
       </thead>
       <tbody id="user">

       </tbody>

     </table>
     <!-- <script src="bundle.js"></script> -->
   </body>
</html>
